{% extends "layout.html" %}

{% block content %}

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
{% for item in data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
    </tr>
{% endfor %}
</table>

<h2>Search</h2>

<form action="/search" method="post">
    <label>Search by Name</label>
    <input type="text" name="pr-name" />
    <br><br>
    <input type="submit" />
</form>

{{searchResults}}

<h2>Add Item</h2>

<form action="/add" method="post">
    <label>Name</label>
    <input name="add-name" type="text" />
    <br><br>
    <label>Quantity</label>
    <input name="add-quan" type="number" value="3" />
    <br><br>
    <label>Price</label>
    <input name="add-price" type="number" value="3.99" />
    <br><br>
    <input type="submit" />
</form>

{% endblock %}
